.landing-page {
  background-size: 40px;
  background: url('./info-icon.png') no-repeat 94% 90%;
  box-shadow: 4px 4px 11px #aaa;
  height: 30px;
  margin: 60px auto;
  padding: 30px;
  text-align: center;
  width: 210px;
}
